* {
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
a {
    text-decoration: none;
    color: black;
}
header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    h1 {
        margin-left: 120px;
    }
    div {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-right: 120px;

        button {
            font-size: small;
            border-radius: 15px;
            width: 115px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 20px;
            border: none;
            cursor: pointer;
            color: white;
            background-color: mediumseagreen;
        }
        button:disabled {
            cursor: default;
            opacity: 0.5;
        }
        .profile-picture {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            background-color: lightgray;
            background-position: center;
            background-size: cover;

            .not-user-picture {
                width: 100%;
            }
        }
    }
}
main {
    width: 60%;
    height: 100%;

    form {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input {
            width: 100%;
            height: 50px;
            font-size: xxx-large;
            font-family: "Times New Roman", serif;
            border: none;
            outline: none;
        }
        textarea {
            width: 100%;
            height: 80%;
            font-family: "Times New Roman", serif;
            font-size: x-large;
            border: none;
            resize: none;
            outline: none;
        }
        img {
            width: 20px;
        }
        button {
            display: none;
        }
        .story-file {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            cursor: pointer;
            position: absolute;
            left: 120px;
            transform: translateY(30px);
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid lightgray;
        }
        .post-picture-already-exists {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
        }
        .file-input {
            display: none;
        }
    }
}