body {
    overflow-y: auto;
    overflow-x: hidden;
}
.container {
    width: 60%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.title {
    max-width: 100%;
    font-size: xx-large;
    font-family: "Arial", sans-serif;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 50px;
}
.author {
    display: flex;
    align-items: center;
}
.post-profile-picture-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.not-post-profile-picture-image {
    width: 30px;
}
.post-author {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.post-author > span {
    font-size: small;
    color: gray;
}
.post-author > a:hover {
    text-decoration-line: underline;
}
.content {
    width: 100%;
}
.content > p {
    font-family: "Times New Roman", serif;
    font-size: large;
    line-height: 27px;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.edit_post {
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 10px;
    cursor: pointer;
    font-size: small;
}
.delete_post {
    width: 100px;
    height: 30px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}