body {
    overflow-y: auto;
    overflow-x: hidden;
}
.container {
    width: 56%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}
.title {
    max-width: 100%;
    font-size: xx-large;
    font-family: "Arial", sans-serif;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin-top: 50px;
}
.author {
    display: flex;
    align-items: center;
    position: relative;
}
.post-profile-picture-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.not-post-profile-picture-image {
    width: 30px;
}
.post-author {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.post-author > span {
    font-size: small;
    color: gray;
}
.user-and-follow > a:hover {
    text-decoration-line: underline;
}
.content {
    width: 100%;
}
.user-and-follow {
    display: flex;
    align-items: center;
    gap: 20px;
}
.claps {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.clap-button {
    border: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.user-and-follow > span {
    color: gray;
    transform: translateY(-25%);
}
.user-and-follow > form > button {
    border: none;
    color: gray;
    background-color: transparent;
    cursor: pointer;
}
.content > p {
    font-family: "Times New Roman", serif;
    font-size: large;
    line-height: 27px;
    white-space: pre-wrap;
    text-align: justify;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}
.edit_post {
    width: 115px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    border-radius: 10px;
    cursor: pointer;
    font-size: small;
}
.delete_post {
    width: 115px;
    height: 30px;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.post-image {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
}
.comments {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 50px;
    margin-top: 10px;
}
.post-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
    padding: 5px 0;
    border-radius: 10px;
}
.post-form > label {
    width: 85%;
    margin-left: -5px;
}
.input-comment {
    width: 100%;
    margin-left: 8px;
}
.post-comment {
    border: none;
    background-color: green;
    border-radius: 10px;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 6px;
}
.comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid lightgray;
}
.comment-user {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.comment-user > a:hover {
    text-decoration-line: underline;
}
.comment-user-info {
    display: flex;
    gap: 10px;
    align-items: center;
}
.comments > span {
    color: gray;
}
.comment-user > span {
    font-size: smaller;
    color: gray;
}
.comment > p {
    padding-bottom: 10px;
}
.comment-user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.not-comment-user-image {
    width: 25px;
    height: 25px;
}