{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{% static 'accounts/images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'accounts/css/sign_in.css' %}">
    <title>Minium - Login</title>
</head>
<body>
    <main class="container">
        <h1>Welcome back.</h1>
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
        <form method="POST" class="register-form">
            {% csrf_token %}
            <div class="input-container">
                <label for="username" class="input-label">Your username</label>
                <input type="text" id="username" name="username" placeholder="Username" class="input-field" required>
            </div>
            <div class="input-container">
                <label for="password" class="input-label">Your password</label>
                <input type="password" id="password" name="password" placeholder="Password" class="input-field" required>
            </div>
            <button class="submit-button" type="submit">Sign in</button>
        </form>
        <footer>No account? <a href="{% url 'register' %}" class="anchor">Create one</a></footer>
    </main>
</body>
</html>