{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'blog/css/new_story.css' %}">
    <link rel="icon" href="{% static 'blog/images/favicon.ico' %}">
    <title>New story - Minium</title>
</head>
<body>
    <header>
        <h1>
            <a href="{% url 'blog:home' %}">Minium</a>
        </h1>
        <div>
            <button id="publish-button">
                {% if is_new_post %}
                    Publish
                {% else %}
                    Update
                {% endif %}
            </button>
            <a href="{% url 'blog:profile' username=request.user.username %}" class="profile-picture">
                {% if not user.picture %}
                    <img src="{% static 'blog/images/user-profile-picture.png' %}" alt="User picture" class="not-user-picture">
                {% else %}
                    <div style="background-image: url('data:image/jpeg;base64,{{ user.picture }}')" class="profile-picture"></div>
                {% endif %}
            </a>
        </div>
    </header>
    <main>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label id="preview" for="image" title="Add story image" class="story-file">
                {% if not post %}
                    <img id="image-banner" src="{% static 'blog/images/image-icon.png' %}" alt="image">
                {% else %}
                    <div id="image-banner-already-exists" style="background-image: url('data:image/jpeg;base64,{{ post.picture }}')" class="post-picture-already-exists"></div>
                {% endif %}
            </label>
            <input type="file" id="image" name="image" accept="image/*" class="file-input">
            <input type="text" id="title-input" name="title" placeholder="Title" value="{{ post.title }}" required>
            <textarea name="story" id="story-textarea" placeholder="Tell your story..." required>{{ post.story }}</textarea>
            <button type="submit" id="submit-button"></button>
        </form>
    </main>
    <script src="{% static 'blog/js/new_story_page.js' %}"></script>
</body>
</html>