{% extends 'blog/base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'blog/css/profile.css' %}">
{% endblock %}
{% block title %}{{ user.username }} on Minium{% endblock %}
{% block content %}
    <div class="container">
        <div class="first-column">
            <h1>{{ user.username }}'s posts</h1>
            <div class="posts">
                {% if posts %}
                    {% for post in posts %}
                        <a href="{% url 'view_post' username=post.author post_id=post.id %}" class="card">
                            <div class="card-header">
                                {% if post.author_picture %}
                                    <div style="background-image: url('data:image/jpeg;base64,{{ post.author_picture }}')" class="post-profile-picture-image"></div>
                                {% else %}
                                    <img src="{% static 'blog/images/user-profile.png' %}" alt="picture" class="not-post-profile-picture-image">
                                {% endif %}
                                <span>{{ post.author }}</span>
                            </div>
                            <p title="{{ post.title }}" class="card-body">{{ post.title }}</p>
                            <div class="card-footer">{{ post.created_at }}</div>
                        </a>
                    {% endfor %}
                {% else %}
                    <span class="not-posts">No posts at the moment</span>
                {% endif %}
            </div>
        </div>
        <div class="second-column">
            <div class="first-row">
                <div class="picture-container">
                    {% if photo %}
                        <div style="background-image: url('data:image/jpeg;base64,{{ photo }}')" class="profile-picture-image"></div>
                    {% else %}
                        <img src="{% static 'blog/images/user-profile.png' %}" alt="picture" class="not-profile-picture-image">
                    {% endif %}
                </div>
                <span class="username">{{ user.username }}</span>
                <span class="email">{{ user.email }}</span>
                <span class="bio">
                    {% if user.bio %}
                        {{ user.bio|linebreaksbr }}
                    {% else %}
                        Without any bio yet.
                    {% endif %}
                </span>
            </div>
            {% if request.user.username == user.username %}
                <div class="second-row">
                    <a href="{% url 'update' username=request.user.username %}" class="edit-profile">Edit profile</a>
                    <a href="{% url 'logout' %}" class="logout">
                        <button class="logout-button">Sign out</button>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}